.filterContainer {
  width: 50%;
  display: inline-block;
  padding: 10px 30px;
  vertical-align: top;
}

.tableContainer {
  padding: 0 20px;
  max-width: 1100px;
  margin: 30px auto;
  display: block;
}

.button {
  border: solid 1px #731c17;
  background: white;
  color: #333;
  font-weight: bold;
  padding: 6px;
  width: 120px;
  border-radius: 4px;
  margin-right: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}

.button.active {
  color: white;
  background: #731c17;
}

.buttons {
  padding: 30px;
}
