.page {
  display: table-row;
  height: 100vh;
}

.columnLeft {
  width: 25%;
  min-width: 100px;
  background: #333;
  box-shadow: 2px 2px #111;
  position: relative;
  display: table-cell;
  vertical-align: top;
}

.columnRight {
  width: 75%;
  margin-left: 25%;
  padding: 0 30px;
  display: table-cell;
  vertical-align: top;
}

.bio {
  font-size: 20px;
  line-height: 30px;
  white-space: pre-line;
  padding: 30px 20px;
}

.logo {
  margin: 20px auto;
  display: block;
  text-align: center;
}

.text {
  font-size: 18px;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  padding: 4px 10px;
  background: #333;
  color: white;
  display: inline-block;
  margin-bottom: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
